<!DOCTYPE html>
<html>
	<head>
		<title>My Diary</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	</head>
	
	<body>
    <div>	
    
		#parse($view)
		
 
	</div>
	</body>
</html>